table.clickable tbody tr
	cursor pointer

.api .label
	margin-right 5px
	text-transform none


body
	padding-top: 60px
	padding-bottom: 40px

.sidebar-nav
	padding: 9px 0

.collection
	width 150px
	float left
	margin 10px

.collection h4
	display inline
	margin-right 7px

ul.sortable
	margin 0
	padding 0
	min-height 100px
	list-style none

table.structure
	width auto

table.structure tr td:first-child
	width 250px

table.structure tr :not(:first-child)
	text-align right

i.icon-pencil
	cursor: pointer

tr.runningTransform td
	background-color #D9EDF7 !important

tr.errorTransform td
	background-color #F2DEDE !important

tr.finishedTransform td
	background-color #DFF0D8 !important

.popover .popover-inner
	max-height: 320px
	width: 450px
	overflow: scroll