extends ../layoutHelp

block help
	:markdown
		# Monitor

		Der [Academy Monitor](/monitor "Academy Monitor") ist über die Navigation am oberen Bildschirmrand der Academy Web UI zu erreichen. Er listet alle laufenden Operationen auf und gibt einen Überblick über den aktuellen Zustand und Fortschritt der jeweiligen Operation.
