form
	fieldset
		legend Export Result
		div.clearfix
			label(for='starSchema') SQL Star Schema
			div.input
				textarea(class='xxlarge', name='starSchema', rows='10', disabled)= starSchema
		div.clearfix
			label(for='mondrianSchema') Mondrian XML Schema
			div.input
				textarea(class='xxlarge', name='mondrianSchema', rows='10', disabled)= mondrianSchema
