extends layoutHelp

block help
	:markdown
		# Arcane Help

		Willkommen in der Online-Hilfe zu Arcane! Hier finden Sie umfangreiche Informationen zu [Arcane Wand](/help/wand/intro "Arcane Wand"), der Firebug-Erweiterung zur Modellierung von Scraping-Jobs, sowie zu [Arcane Academy](/help/academy/intro "Arcane Academy"), dem Scraper, der die modellierten Jobs ausf체hren kann. Als Einstieg empfiehlt es sich, das Kapitel [Mein erster Job](/help/gettingStarted "Mein erster Job") durchzuarbeiten: An einem praxisnahen Beispiel werden die grundlegende Funktionalit채t und wichtige Zusammenh채nge erkl채rt.
