extends layout

block content
	h1 Welcome to #{title}
	p
		| This is the awesome Arcane Academy Scraping Server running on Node.
		| It consist of a Firefox extension in which you configure the
		| scraping-process. The configuration is then sent to this server which
		| will do the hard job collection everything.
